* {
	text-decoration: none !important;
}

body {
	background-color: black !important;
}

/* reusable components */

form {
	margin: 3%;
}

input {
	color: black !important;
}

a {
	color: white !important;
}

a:hover {
	text-decoration: none !important;
}

img {
	width: 100%;
}

/* boxes */

.center-box {
	/*width:100%;*/
	/*background-color: purple;*/
}

.grid {
	/*width: 100%;*/
    /*margin: 0 auto; */
	/*background-color: green;*/
}

.grid-item { 
	width: 45vw;
	margin: 0 auto; 
	padding: 0;
}


.box {
	background-color: black;
	color: white;
	padding: 2%;
}

.box-content {
	padding-top: 4%;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 5%;
	border: 2px solid white;
}

.box:hover {
	background-color: #32393B;
}

.home-box {
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("IMG_0479_2.jpg");
	background-size: cover;
}

.home-box:hover {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("IMG_0479_2.jpg");
}

.hk-box {
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("hk.jpeg");
	background-size: cover;
}

.hk-box:hover {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("photo-1444985196643-57cb0154bbd5.jpeg");
	background-size: cover;
}

.eat-box {
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("thumb_IMG_3233_1024.jpg");
	background-size: cover;
}

.eat-box:hover {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("thumb_IMG_3210_1024.jpg");
	background-size: cover;
}

.explore-box {
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("thumb_IMG_0691_1024.jpg");
	background-size: cover;
}

.explore-box:hover {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("thumb_IMG_0692_1024.jpg");
	background-size: cover;
}

.escape-box {
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("IMG_8813 2_1024.jpg");
	background-size: cover;
}

.escape-box:hover {
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("IMG_0047_1024.jpg");
	background-size: cover;
}

/* text */

.general-text,
#page-title,
#subtitle,
h3 {
	text-align: center;
	color: white !important;
	vertical-align: middle;
	position: relative;
  	top: 40%;
}

#page-title,
#subtitle,
h3 {
	letter-spacing: 4px;
	text-transform: uppercase;
	font-size: 600%;
}

.general-text {
	font-size: 90%;
	line-height: 200%;
	text-align: left;
}

#page-title {
  	font-weight: 800;
}

h3 {
	letter-spacing: 5px;
  	font-weight: 300 !important; 
}

#subtitle {
	font-size: 200%;
  	font-weight: 300;
}

.question {
	margin-bottom: 5%;
	padding: 10px;
}

.address {
	font-weight: 600;
}

/* cols */

.col-text {
	text-align: center;
	vertical-align: middle;
	position: relative;
	top: 50%;
	color: white;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-weight: 200;
	font-size: 200%;
}

.col1 {
	margin-top: 0;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("IMG_2371.jpg");
	background-size: cover;
}

.col1:hover {
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("thumb_IMG_3345_1024.jpg");
}

.col2 {
	margin-top: 0;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("IMG_5522_1024.jpg");
	background-size: cover;
}

.col2:hover {
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("IMG_3155.jpg");
}

.col3 {
	margin-top: 0;
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("IMG_0764_2.jpg");
	background-size: cover;
}

.col3:hover {
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("IMG_4230_1024.jpg");
	background-size: cover;
}
